@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Italic */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
/* Black Italic */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
/* Semi Bold Italic */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
/* Light Italic */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}



body {
  font-family: 'Poppins', sans-serif !important;
}

h2 {
  font-style: italic;
}
.whoweare p {
  font-weight: 600;
  font-style: italic;
}
.light-italic {
  font-weight: 300;
  font-style: italic;
}

button {
  font-style: italic;
  font-weight: 300;
}

/* ABOUT PAGE */
.about-page h1{
  font-size: 80px;	
  line-height: 0.85;
  font-weight: 900;
  font-style: italic;
}
.hero-about p {
  font-size: 36px;
  font-weight: 600;
  font-style: italic;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 

/* HOME - NOS PRODUITS */
.home-card{
  padding: 2rem;
  color: white; 
}


.home-card-title {
  color: white;
  font-size: 96px;
  line-height: 0.9;
  font-weight: 600;
  line-height: 0.85;
  font-style: italic;
  font-weight: 900;
}

.home-card p {
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
}

.home-card-1 {
  background: linear-gradient(to right, #FF6162, #FE5D5C);
  border-radius: 20px 20px 0px 20px;
}

.home-card-2 {
  background: linear-gradient(to left, #FFB168, #FFD359);
  border-radius: 20px 20px 20px 0px;
}


.home-card-3 {
  background: linear-gradient(to right, #9479A6, #9F71BD);
  border-radius: 20px 0px 20px 20px;
}

.home-card-4 {
  background: linear-gradient(to right, #D0E484, #A1BC1B);
  border-radius: 0px 20px 20px 20px;
}

.guy-image {
  z-index: 40;
  position: absolute;
  top: -10.5rem;
  left: 7rem;
  object-fit: cover;
}

/* Banner */
.HeroBanner {
  margin-top: 3rem;
  background-color: white;
}

.categories-filter button{
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: -17px;
}
